[submodule "web/bootstrap"]
	path = web/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "web/font-awesome"]
	path = web/font-awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
